body {
    background-color: rgb(30,30,30);
    font-family: "Ubuntu";
    color: gray;
    font-size: 15pt;
    padding: 20px;
}

ul {
    list-style: none;
}

input, button {
    background-color: rgb(60,60,60);
    margin-right: 10px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 3px;
    color: lightgray;
    padding: 4px;
}

button:active {
    border-color: darkorange;
}

button:hover, input:focus {
    background-color: rgb(80,80,80);
    transition-duration: 0.2s;
}

.subject {
    border-color: rgb(50,50,50);
    padding-left: 30px;
    border-radius: 10px;
    padding-bottom: 10px; 
}

.subject:hover {
    background-color: rgb(35,35,35);
}

.subject + .subject {
    border-top-style: solid;
    border-width: 2px;
    border-color: rgb(50,50,50);
}

.chapter {
    padding-left: 30px;
    margin-bottom: 30px;
}

.chapter + .chapter {
    border-top-style: solid;
    border-width: 2px;
    border-color: rgb(50,50,50);
}

.chapter > h3, .subject > h2 {
    padding: 4px;
    display: inline-block;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin-bottom: 0;
    transition-duration: 0.1s;
}

.chapter > h3:hover, .subject > h2:hover {
    background-color: gray;
    color: rgb(30,30,30);
}

.chapter > h3:active, .subject > h2:active {
    background-color: gray;
    color: rgb(30,30,30);
    border-style: solid;
    border-color: darkorange;
}

.nomargin {
    color: darkred;
}

.margin {
    color: darkslateblue;
}

.chaptercollapse {
    display: inline-block;
    width: 12pt;
    height: 12pt;
    border-radius: 50%;
    padding: 0;
    border-style: solid;
    vertical-align: middle;
    background-color: gray;
}

.chaptercollapse:not(:active) {
    background-color: transparent;
}

.chaptercollapse:not(:hover) {
    border-color: transparent;
    border-color: transparent;
}


label {
    margin-right: 10px;
}

#optionbar {
    margin-top: 40px;
}

#subjectcreation {
    margin-top: 20px;
}

#subjectslist {
    margin-bottom: 60px;
}

.sessionslist {
    margin-top: 20px;
    overflow: hidden;
}

.chaptercreation {
    margin-top: 50px;
    margin-bottom: 20px;
}

#progressbar {
    margin-bottom: 6pt;
    width: 99%;
    height: 12pt;
    display: inline-block;
    position: fixed;
    bottom: 0;
}

#progressdone, #progressleft {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: transparent;
    font-size: 10pt;
    font-style: bold;
    transition-property: color;
    transition-duration: 0.5s;
}

#progressdone:hover, #progressleft:hover {
    color: white;
}

#progressdone > p, #progressleft > p {
    margin: 0;
}

#progressdone {
    background-color: darkslateblue;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#progressleft {
    background-color: rgb(50,50,50);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}